################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.tlog
*.recipe
*.log
*.sqlite
/NumericWorm/NumericWorm/x64/Debug
/NumericWorm/NumericStorm/x64/Debug
/NumericWorm/x64/Debug
*.json
/NumericWorm/.vs/NumericWorm/v17/TestStore/0
/NumericWorm/NumericStorm/NumericStorm/x64/Debug
/NumericWorm/.vs/NumericWorm/v17/.suo
/Debug/
/x64/
/NumericWorm/x64/Release
/NumericWorm/Test/x64/Release
*.obj
/NumericWorm/NumericWorm/x64/Release
